<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{ title }}</a>
    </div>

    <div id="navbar">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menu">
          <a href="{{ item.href }}" title="{{ item.title }}">{{ item.label }}</a>
        </li>
      </ul>

      <div class="nav navbar-nav navbar-right tt">
        <a href="../navbar/" class="btn bt-default btn-default">Login</a>
      </div>
    </div>
  </div>
</nav>
