# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist

# dependencies
/node_modules
/bower_components

# misc
/coverage/*

# log
npm-debug.log

# mac files
.DS_Store
