body {
  background-color: #F1EEEC !important;
}

.navbar {
  background-color: #33B4AA !important;
  box-shadow: 1px 1px 10px #000;
  border: none;
}

.navbar ul li a {
  color: #FFF !important;
}

.navbar .container .navbar-header {
  padding: 10px !important;
}

.navbar .container .navbar-header .navbar-brand {
  font-family: 'Fredoka One', cursive;
  font-size: 18px !important;
  color: #FFF !important;
  float: left;
  line-height: 0;
  height: 0;
  text-transform: uppercase;
}

footer {
  background-color: #33B4AA !important;
  color: #FFF !important;
  padding: 10px;
}

.bg-home {
  background: url('/assets/images/bg-home.jpg') center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 706px;
}

.bt-default {
  padding: 6px 18px;
  line-height: 14px;
}

.tt {
  padding: 10px;
}

.container .box {
  margin: 5px 45px;
  padding: 10px 5px;
  max-height: 400px;
  background: #FFF;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

hr.separator {
  margin: 60px 0px 30px 0px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0));
}

.separator-title {
  margin: -55px auto 0 auto;
  padding: 10px;
  background-color: #F1EEEC;
  max-width: 200px;
  color: #666;
  font-size: 1.5em;
  text-align: center;
}

.form-sign-up {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
